env {
  TMPDIR = "\${TMPDIR:-\${NXF_TEMP:-\$(mktemp -d)}}"
  APPTAINER_DISABLE_CACHE = "True"

  CMD_SCRAMBLE = "apptainer exec ${projectDir}/containers/scramble.sif"
  CMD_MELT = "apptainer exec ${projectDir}/containers/melt.sif"

}

process {
    executor = "slurm"
    errorStrategy = 'ignore'
    containerOptions = "--bind ${projectDir}"
}

params {
    genomeBuild = "hg19"
    reference_genome = "/groups/umcg-gdio/tmp02/umcg-tniemeijer/resources/reference/hs37d5.fa"
    samplesheet = "/groups/umcg-gdio/tmp02/umcg-tniemeijer/resources/sampletables/test_melt.tsv"
    output = "/groups/umcg-gdio/tmp02/umcg-tniemeijer/melt_scramble/output/test"

    scramble {
      cluster_analysis_folder = "${projectDir}/resources/scramble/scramble/cluster_analysis"
      cluster_analysis_bin = "${params.scramble.cluster_analysis_folder}/bin"
      scramble_script = "${params.scramble.cluster_analysis_bin}/SCRAMble.R"
      mei_ref = "${cluster_analysis_folder}/resources/MEI_consensus_seqs.fa"
    }
    melt {
      melt_jar = "${projectDir}/resources/melt/MELTv2.2.2/MELT.jar"
      genes_bed = "${projectDir}/resources/melt/MELTv2.2.2/add_bed_files/1KGP_Hg19/hg19.genes.bed"
      transposon_file_list = "${projectDir}/resources/melt/hg19_transposon_file_list.txt"
    }
    
}

workDir="${params.output}/work"